body {
  font-family: 'Red Hat Display', sans-serif;
  margin:0;
  background-color: #1B1B1B;
  
}

.font_nova{
  font-family: 'Nova Square';
  font-size: 70px;
}

.header{
  display:flex ;
  justify-content: space-around;
  margin-top:2rem ;
}

.logo_img{
  max-width: 100%;
  max-height: 100%;
}

.logo{
  width: 15rem;
}

.novigation{
  display: flex;
  flex-wrap: wrap;

}

.novigation div{
  margin-left: 2rem;  
}

.novigation div a{
  text-decoration: none;
  color:  #B6B6B6;
  font-size: 18px;
}

@media (max-width: 990px){
  .novigation div a{
    font-size: 16px;
    margin-right: 5px;
  }
}

.contact{
  display: flex;
  color: #fff;
}

.contact_number{
  font-size: 18px;
  
}

@media (max-width: 990px){
  .contact_number{
    font-size: 16px;
    margin-right: 5px;
  }
}


.contact_button{

width: 168.09px;
height: 47px;
margin-left: 2rem;
margin-top: -1rem;

background: #FFFFFF;
border-radius: 9px;
box-shadow: 0px 15px 50px rgba(255, 255, 255, 0.25);
border:#FFFFFF;

}


._content{
  max-width: 1100px;
  margin: 0 auto ;
}

.header-block{
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: 1340px;
  height: 580px;
  
  background: #FFFFFF;
  background-image: url(./img/831\ 11\ 1mersedes.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 65%;
  border-radius: 41px;
}

  .oll{
    background-color: transparent
  }

.header-block_title{
  font-family: 'Nova Square';
  font-size: 95px;
  padding-top: 60px;
  
}

.header-block_text{
  font-size: 20px;
  padding-top: 30px;
}
/*--------button------------------------------------------------------------------------*/
.header-block_button{
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  background-color:#000000 ;
  border-radius: 9px;
  margin-top: 50px;
  margin-left:120px;
  box-shadow: 0px 15px 50px rgba(255, 255, 255, 0.25);
}

/*---Dropdawn menu-----------------------------------------------------------------------------*/

.preview_tittle{
  font-family: 'Nova Square';
font-style: normal;
font-weight: 400;
font-size: 60px;
color: #FFFFFF;
margin-top: 80px;
margin-bottom: 0;

}

.preview_text{
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #9f9f9f;
  margin:5px 0 50px 0;
}

.preview_block{
  display: flex;
  background: #333333;
  border-radius: 27px;
  
}

.preview_block img{
  max-width: 40%;
  padding: 25px;

}

.preview_block-content{
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;


  color: #FFFFFF;
}

.preview_row{
  display: flex;

}

.preview_row-section{
  background: #333333;
  border-radius: 20px;
  margin:10px;
  width: 270px;
  height: 400px;
  padding-left: 10px;
}

.preview_row-section img{
  max-width: 95%;
  margin-top: 10px;
}

.preview_row-section h3{
  font-family: 'Red Hat Display';
  color: #FFFFFF;

}

.preview_row-section p{
  font-family: 'Red Hat Display';
  color: #FFFFFF;

}

.preview_row-section button{
  width: 120px;
  height: 40px;
  border-color: #FFFFFF;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 15px 50px rgba(255, 255, 255, 0.25);
}

.afelok{
  margin-top: 20px;

}

.backgraund{
  position: absolute;
  width: 1340px;
  height: 300px;
  left:54.8px;
  background: url(./img/3222830\ 1backgraund.png);
  border-radius: 27px;
 
}

.backgraund_title{
  font-family: 'Red Hat Display';
  font-style: normal;
  font-size: 50px;
  margin-top: 11px;
  text-align: justify;

  color: #FFFFFF;
}

.backgraund_text{
  font-family: 'Red Hat Display';
  font-style: normal;
  font-size: 20px;
  margin-top: 5px;
  color: #FFFFFF;
}

.backgrund_button{
  margin-top:50px;
  margin-left: 120px;
  width: 150px;
  height: 40px;
  border:#FFFFFF;
  background: #FFFFFF;
  box-shadow: 0px 15px 50px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.backgraund_price{
  position: absolute;
  right: 100px;
  top:20px;
  font-family: 'Red Hat Display';
  font-size: 25px;
  color: #FFFFFF;

}

.img_mersedes{
  position: absolute;
  z-index: 5;
  max-width: 55%;
  margin-top:90px;
  right: 200px;
}

.car{
  display: flex;
  justify-content: space-around;
  margin-top: 650px;
}

._Allcar{
  background: #333333;
  border-radius: 20px;
  margin-left: 15px;
  font-family: 'Red Hat Display';
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

.car_mersedesV{
  margin-left: inherit;
}

.car_mersedesS p{
  margin-top: 0;

}

.car_bmw p{
  margin-top: 40px;
}

.car_mersedesV p{
  margin-top: 30px;
}


._Allcar img{
  max-width: 90%;
  margin-top: 10px;
}

.partners{
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-evenly;
  width: 1340px;
  height: 120px;
  margin:0 auto;
  margin-top: 120px;

  background: #FFFFFF;
  border-radius: 20px;
}

.partners img{
  max-width: 10%;
  margin:8px;
  
}

.grid{
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap:15px;
  
}

.grid_box{
  
  background: #333333;
  border-radius: 20px;
  font-family: 'Red Hat Display';
  color: #FFFFFF;

}

.grid_box-img{
  width: 200px;
  height: 130px;
  background: #FFFFFF;
  border-radius: 9px;
  float: left;
  text-align: center;
  margin: 20px;
}












.footer{
  background-color: #FFFFFF;
 
}

.footerLogo{
  margin: 10px;
 
  
}

.abaut{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.abaut a{
  text-decoration: none;
  color: #000000;
}

.abaut div{
  
  text-align: center;
}

